html {
    color: #1F1300;
    background-color: #E9E7E6;
    line-height: 1.4;
    letter-spacing: 0.05;
    width: 100%;
}

body {
    margin:  auto;
}

/* --------------- Navbar --------------- */
/* Padding de los icons en nav-link */
.navbar
.icon-padding {
    margin-right: 10px;
}

/* Estilo del texto */
.navbar
h5 {
    font-family: "Roboto Slab", sans-serif;
    font-size: 20;
    font-weight: normal;
}

.navbar
li {
    font-family: "Roboto Slab", sans-serif;
    font-size: 16;
    font-weight: normal;
}

/* Estilo de button */
.buttonPrincipal {
    font-family: "Roboto Slab", sans-serif;
    font-size: 20px; 
    background-color: #A5C23B ; 
    color: #352B1A;
    padding: 8px 5px;
    border-radius: 6px;
    border: none;
}

.navbar
.buttonPrincipal {
    margin-top: 5%;
}

.navbar
.buttonPrincipal:hover { 
    background-color: #8EB30A ; 
    color: #352B1A;
}

/* --------------- Heroarea --------------- */
/* Estilo del contenedor */
.hero-container {
    background-image: url(/images/heroimage.png);
    background-size: cover;
    overflow: hidden;
    background-position: center;
}

/* Estilo del texto */
.hero-container
h2 {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 52.36;
    font-weight: bold;
    color: #E9E7E6;
}

.hero-container
p {
    font-family: "Roboto Slab", sans-serif;
    font-size: 20;
    font-weight: normal;
    color: #E9E7E6;
}

/* Estilo del button */
.hero-container
.buttonSecundario-claro {
    font-family: "Roboto Slab", sans-serif;
    font-size: 20px; 
    background-color: none; 
    color: #352B1A;
    padding: 8px 5px;
    border-radius: 6px;
    border: 1px solid #D2D0CC;
}

.hero-container
.buttonSecundario-claro:hover { 
    background-color: #D2D0CC ; 
    color: #352B1A;
}

/* --------------- About Us --------------- */
/* Estilo del container */
.aboutus-container {
    background-color: #F8F9FA;
    max-height: auto;
}

/* Estilo del texto */
.aboutus-container
p {
    font-family: "Roboto Slab", sans-serif;
    font-size: 20;
    color: #625A4D;
    font-weight: normal;
}

.aboutus-container 
.lema {
    color: #625A4D;
    font-weight: 300;
}

.aboutus-container
h2 {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 52.36;
    font-weight: bold;
}

.aboutus-container
.texto-secundario {
    color: #625A4D;
    font-weight: medium;
}

/* Estilo del icon */
.aboutus-container
.icon-color {
    color: #625A4D;
}

/* Estilo del button */
.aboutus-container
.buttonSecundario-obscuro {
    font-family: "Roboto Slab", sans-serif;
    font-size: 20px; 
    color: #F8F9FA;
    background-color: #352B1A;
    padding: 8px 5px;
    border-radius: 6px;
}

.aboutus-container
.buttonSecundario-obscuro:hover {
    color: #F8F9FA;
    background-color: #625A4D;
}

/* --------------- Sistemas --------------- */
/* Estilo del container */
.sistemas-container {
    background-color: #F8F9FA ;
}

/* Estilo del texto */
.sistemas-container
a {
    text-decoration: none;
    height: 250px;
}

.sistemas-container
a
p {
    font-family: "Roboto Slab", sans-serif;
    font-size: 20;
    font-weight: normal;
    color: #625A4D;
}

/* Estilo de la imagen */
.sistemas-container
.sistemas-img {
    max-width: 100%;
    height: 150px;
}

/* Estilo del hover en las imagenes */
.sistemas-container
.rotate-hover {
    transition: transform 0.3s ease-in-out;
    transform-style: preserve-3d;
}

.sistemas-container
.rotate-hover:hover {
    transform: rotateY(30deg);
}

/* ----------- Banner Soluciones ----------- */
/* Estilo del container */
.solucion-container {
    background-image: url(/images/banner-herramienta.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Estilo del texto */
.solucion-container
h2 {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 52.36;
    color: #E9E7E6;
}

.solucion-container
p,
a {
    font-family: "Roboto Slab", sans-serif;
    font-size: 20;
    color: #E9E7E6;
}

.solucion-container
.buttonSecundario-claro {
    font-family: "Roboto Slab", sans-serif;
    font-size: 20px; 
    background-color: none; 
    color: #352B1A;
    padding: 8px 5px;
    border-radius: 6px;
    border: 1px solid #D2D0CC;
}

.solucion-container
.buttonSecundario-claro:hover { 
    background-color: #D2D0CC ; 
    color: #352B1A;
}

/* -------------- Servicios -------------- */
/* Estilo del container */
.servicios-container {
    background-color: #F8F9FA;
}

/* Estilo del texto */
.servicios-container
h2 {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 52.36;
    font-weight: bold;
    color: #1F1300;
}

.servicios-container
h3 {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 32.36;
    font-weight: bold;
    color: #1F1300;
}

.servicios-container
p {
    font-family: "Roboto Slab", sans-serif;
    font-size: 20;
    font-weight: normal;
    color: #625A4D;
}

/* Estilo de las tarjetas */
.servicios-container
.servicios-card {
    border: 1px solid #E9E7E6;
    border-radius: 6px;
    min-height: 100%;
    max-width: 400px;
    box-shadow: 0px 0px 10px rgba(165, 161, 153, 0.5);
}

/* Estilo del button */
.servicios-container
.buttonSecundario-obscuro {
    font-family: "Roboto Slab", sans-serif;
    font-size: 20px; 
    color: #F8F9FA;
    background-color: #352B1A;
    padding: 8px 5px;
    border-radius: 6px;
}

.servicios-container
.buttonSecundario-obscuro:hover {
    color: #F8F9FA;
    background-color: #625A4D;
}

/* ------------ Banner Contacto ------------ */
/* Estilo del container */
.contacto-container {
    background-image: url(/images/banner-contactame.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #D2D0CC;
    height: fit-content;
}

/* Estilo del texto */
.contacto-container
h2 {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 52.36;
    font-weight: bold;
    color: #E9E7E6;
}

.contacto-container
p {
    font-family: "Roboto Slab", sans-serif;
    font-size: 20;
    font-weight: normal;
    color: #E9E7E6;
}

/* Estilo del button */
.contacto-container
.buttonSecundario-claro {
    font-family: "Roboto Slab", sans-serif;
    font-size: 20px; 
    background-color: none; 
    color: #352B1A;
    padding: 8px 5px;
    border-radius: 6px;
    border: 1px solid #D2D0CC;
}

.servicios-container
.buttonSecundario-claro:hover { 
    background-color: #D2D0CC ; 
    color: #352B1A;
}

/* -------------- Blog -------------- */
/* Estilo del container */
.blog-container {
    background-color: #F8F9FA;
}

/* Estilo del texto */
.blog-container
h2 {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 52.36;
    font-weight: bold;
    color: #1F1300;
}

.blog-container
p {
    font-family: "Roboto Slab", sans-serif;
    font-size: 20;
    font-weight: normal;
    color: #625A4D;
}

.blog-container 
.articulo-textoImg {
    color: #E9E7E6;
}

.blog-container 
.articulo-textoCard
li
a {
    text-decoration: none;
    font-family: "Roboto Slab", sans-serif;
    font-size: 16;
    font-weight: normal;
    color: #625A4D;
}

.blog-container 
.articulo-textoCard
h2
a {
    text-decoration: none;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 24;
    font-weight: bold;
    color: #1F1300;
}

.blog-container
.articulo-textDate
li
p {
    text-decoration: none;
    font-family: "Roboto Slab", sans-serif;
    font-size: 16;
    font-weight: normal;
    color: #625A4D;
}

/* ------------ Ubicación y Horarios ------------ */
/* Estilo del container */
.ubicacion-container {
    background-color: #1F1300;
}

/* Estilo del iframe */
.ubicacion-container
.mapResponsive {
    max-width: 100%;
    border-radius: 10px;
    min-height: 100%;
    overflow: hidden;
}

.ubicacion-container
.mapResponsive iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.ubicacion-container
.mapContent {
    min-height: 100%;
}

/* Estilo del texto */
.ubicacion-container
h2 {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 56;
    font-weight: bold;
    color: #E9E7E6;
}

.ubicacion-container
address,
p {
    text-decoration: none;
    font-family: "Roboto Slab", sans-serif;
    font-size: 16;
    font-weight: normal;
    color: #E9E7E6;
}

.ubicacion-container
a {
    text-decoration: none;
    font-family: "Roboto Slab", sans-serif;
    font-size: 16;
    font-weight: normal;
    color: #E9E7E6;
}

.ubicacion-container
a:hover {
    text-decoration: underline;
    color: #625A4D;
}

.ubicacion-container
.ubicacion-colorIcon {
    color: #E9E7E6;
}

.ubicacion-container
h3 {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 28;
    font-weight: bold;
    color: #E9E7E6;
}

/* -------------- Footer -------------- */
/* Estilo del container */
.footer {
    background-color: #F8F9FA;
    min-height: 50px;
}

/* Estilo del texto */
.footer
div {
    text-decoration: none;
    font-family: "Roboto Slab", sans-serif;
    font-size: 16;
    font-weight: normal;
    color: #1F1300;
}

/* ----- Página: Sistemas de detección ----- */
/* Heroarea */
/* Estilo del container */
.sistemasdeteccion-container {
    background-image: url(/images/sistemas-deteccion2.jpg);
    background-size: cover;
    overflow: hidden;
    background-position: center;
    height: 400px
}

.sistemasdeteccion-container
p {
    font-family: "Roboto Slab", sans-serif;
    font-size: 20;
    font-weight: normal;
    color: #E9E7E6;
}

.sistemasdeteccion-container
h2 {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 52.36;
    font-weight: bold;
    color: #E9E7E6;
}

/* ----- Página: Sistemas de detección ----- */
/* Artículo */
/* Estilo del container */
.textoarticulo-container {
    background-color: #F8F9FA;
    border: 1px, solid, red;
    height: fit-content;        
}

/* Estilo del texto */
.textoarticulo-container
h2 {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 52.36;
    font-weight: bold;
    color: #1F1300;
}

.textoarticulo-container
h3 {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 32.36;
    font-weight: bold;                            color: #625A4D;  
}

.textoarticulo-container
p {
    font-family: "Roboto Slab", sans-serif;
    font-size: 20;
    font-weight: normal;
    color: #1F1300;
}

/* ----- Página: Sistemas de detección ----- */
/* Side Card Sistemas */
/* Estilo del Container */
.textoarticulo-container
.sidecard-container {
    border: 1px, solid, #E9E7E6;
    margin: 5%;
    border-radius: 5%;
    height: 180px;
    background-color: #E9E7E6;
    filter: drop-shadow(#8F8980 0.5rem 0.5rem 10px);
    height: fit-content;
}

.textoarticulo-container
.sidecard-container:hover {
    border: 1px, solid, #8F8980;
    background-color: #8F8980
}

.sidecard-container
.imgsidecard {
    background-image: url(/images/sistemas-deteccion2.jpg);
    background-size: cover;
    overflow: hidden;
    margin: 5%;
    background-position: center;
    height: 100px;
    border-radius: 5%;
}

/* Estilo del Texto */
.sidecard-container
.textsidecard
a {
    font-family: "Roboto Slab", sans-serif;
    font-size: 16px;
    font-weight: normal;
    color: #1F1300;
    margin: 2% 5% 2% 5%;
    width: fit-content;
    text-decoration: none;
}

.sidecard-container
.iconsidecard {
    color: #1F1300;
}

/* ----- Página: Sistemas de detección----- */
/* Imagenes para el artículo */
/* Estilo del Container */
.textoarticulo-container
.center-container {
    background-color: #F8F9FA;
    border: 1px, solid, red;
}

.center-container
.imgcenter {
    width: 100%;
    height: 25rem;
    border-radius: 1%;
    object-fit: cover;
}

.imgcenter
figure .piefoto {
    color: #1F1300;
    font-family: "Roboto Slab", sans-serif;
    font-size: 16px;
}

.center-container
.imgcenter-medio {
    width: 100%;
    height: 25rem;
    border-radius: 1%;
    object-fit: cover;
}

/* ----- Página: Sistemas de detección----- */
/* Tipos de tecnologías */
/* Estilo del Container */
.center-container
.tecnologiaseas {
    background-color: #F8F9FA;
}

.lineasguia {
    border: 1px, solid, red;
}

/* Estilo de las tarjetas */
.tecnologiaseas
.tecnologiacard-leftup {
    height: fit-content;
    border-radius: 25% 25% 0% 25%;
    filter: drop-shadow(#8F8980 0.5rem 0.5rem 10px);
    padding: 40px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border: 1px, solid, #E9E7E6;
    background-color: #E9E7E6;
    position: relative;
    z-index: 1;
}

.tecnologiaseas
.tecnologiacard-leftdown {
    height: fit-content;
    border-radius: 25% 0% 25% 25%;
    filter: drop-shadow(#8F8980 0.5rem 0.5rem 10px);
    padding: 40px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border: 1px, solid, #E9E7E6;
    background-color: #E9E7E6;
    position: relative;
    z-index: 1;
}

.tecnologiaseas
.tecnologiacard-rightup {
    height: fit-content;
    border-radius: 25% 25% 25% 0%;
    filter: drop-shadow(#8F8980 0.5rem 0.5rem 10px);
    padding: 40px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border: 1px, solid, #E9E7E6;
    background-color: #E9E7E6;
    position: relative;
    z-index: 1;
}

.tecnologiaseas
.tecnologiacard-rightdown {
    height: fit-content;
    border-radius: 0% 25% 25% 25%;
    filter: drop-shadow(#8F8980 0.5rem 0.5rem 10px);
    padding: 40px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border: 1px, solid, #E9E7E6;
    background-color: #E9E7E6;
    position: relative;
    z-index: 1;
}

.tecnologiaseas
.tecnologiacard-leftup:hover {
    transform: translateY(-5px);
}

.tecnologiaseas
.tecnologiacard-rightup:hover {
    transform: translateY(-5px);
}

.tecnologiaseas
.tecnologiacard-leftdown:hover {
    transform: translateY(-5px);
}

.tecnologiaseas
.tecnologiacard-rightdown:hover {
    transform: translateY(-5px);
}

/* Estilo del texto/img de la tarjeta */
.tecnologiacard
.tecnologiacard-title {
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tecnologiaseas
.tecnologiacard-img {
    background-image: url(/images/tecnologias-eas-vector2.png);
    background-color: #F8F9FA;
    filter: drop-shadow(#8F8980 0rem 0rem 10px);
    background-position: center;
    background-size: cover;
    overflow: hidden;
    border-radius: 100%;
    height: 300px;
    object-fit: fill;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 2045px;
    left: 670px;
    z-index: 10;
}

/* ---------- Página: Sistemas de Detección ------- */
/* Banner de Contacto */
/* Estilo del Container */

.textoarticulo-container
.sistemas-bannercontacto {
    background-image: url(/images/banner-sistemascontacto.png);
    background-position: center;
    background-size: cover;
    overflow: hidden;
    object-fit: fill;
    width: 100%;
    height: 500px;
}

/* Estilo del texto */
.sistemas-bannercontacto
h2 {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 52.36;
    color: #E9E7E6;
}

.sistemas-bannercontacto
p,
a {
    font-family: "Roboto Slab", sans-serif;
    font-size: 20;
    color: #E9E7E6;
}

.sistemas-bannercontacto
.buttonSecundario-claro {
    font-family: "Roboto Slab", sans-serif;
    font-size: 20px; 
    background-color: none; 
    color: #352B1A;
    padding: 8px 5px;
    border-radius: 6px;
    border: 1px solid #D2D0CC;
}

.sistemas-bannercontacto
.buttonSecundario-claro:hover { 
    background-color: #D2D0CC ; 
    color: #352B1A;
}

/* ---------- Página: Sistemas de Detección ------- */
/* Beneficios de los Sistemas EAS */
/* Estilo del Container */
.textoarticulo-container
.articulo-beneficioseas {
    display: flex;
    justify-content: center;
    align-items: center;
}

.articulo-beneficioseas 
.icon-beneficios {
    width: 25px;
    height: 25px;
    columns: #625A4D;
}

/* Estilo de la imagen */
.articulo-beneficioseas 
.img-beneficios {
    background-image: url(/images/sistemas-eas-beneficios.jpeg);
    background-size: cover;
    overflow: hidden;
    margin: 2%;
    background-position: center;
    max-width: 100%;
    height: 90%;
    border-radius: 2%;
    object-fit: cover;
}

/* Estilo del texto */
.textoarticulo-container
.articulo-beneficioseas
h3 {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 32.36;
    font-weight: bold;
    color: #625A4D;
}

.textoarticulo-container
.articulo-beneficioseas
h4 {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 24;
    font-weight: 700;
    color: #1F1300;
}

.textoarticulo-container
.articulo-beneficioseas
p {
    font-family: "Roboto Slab", sans-serif;
    font-size: 20;
    font-weight: normal;
}

.textoarticulo-container
.articulo-beneficioseas
em {
    font-family: "Roboto Slab", sans-serif;
    font-size: 20;
    font-weight: 700;
}